#content-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #c7ddef;
    border-radius: 5px;
    padding: 10px;

}

#search-field {
    display: inline;
    width : 100px;

}


