
#header, #header-main-row, #header-col1, #header-col2 {
    height: inherit;

}

#header-signed-in{
    background-color: #f5e79e;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
    border-radius: 5px;


}

#page-name, #welcome_group{
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
#welcome {
    margin-right: 10px;

}